<header class="navbar navbar-expand-lg navbar-light bg-light">
	<a href="{{ path('index_index') }}" class="navbar-brand"><img src="/public/img/logo.jpg" alt="logo"></a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			{% if is_granted('ROLE_USER') %}
				<li class="nav-item">
					<a class="nav-link" href="{{ path('research_index') }}">Research</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('favorite_index') }}">Favorites</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('chat_index') }}">Chat</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('post_index') }}">Post</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('profile_index') }}">Profile</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('logout_index') }}">Logout</a>
				</li>
			{% else %}
				<li class="nav-item">
					<a class="nav-link" href="{{ path('login_index') }}">Login</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('register_index') }}">Register</a>
				</li>
				<li><a class="nav-link" href="{{ path('dashboard') }}">Dashboard</a>
</li>
			{% endif %}
		</ul>
	</div>
</header>
